body {
  margin: auto;
}

.title1 {
  background-color: blue;
  margin: auto;
}

.title2 {
  background-color: yellow;
  margin: auto;
}

.title-text1 {
  color: yellow;
  margin: 0 350px;
}

.title-text2 {
  color: blue;
  margin: 0 400px;
}
