body {
  margin: auto;
  background-image: url(https://cdna.artstation.com/p/marketplace/presentation_assets/000/550/876/large/file.jpg?1602609366);
  background-color: yellow;
}

.header {
  display: flex;
  justify-content: space-between;
}

.image {
  margin-top: 20px;
  margin-left: 150px;
  margin-bottom: 20px;
}

.title1 {
  background-color: blue;
  margin: auto;
}

.title2 {
  background-color: yellow;
  margin: auto;
}

.title-text1 {
  color: yellow;
  margin: 0 0 0 350px;
  font-size: 70px;
  font-family: "Exo 2", sans-serif;
  font-family: "Montserrat", sans-serif;
}

.title-text2 {
  color: blue;
  margin: 0 0 0 450px;
  font-size: 70px;
  font-family: "Exo 2", sans-serif;
  font-family: "Montserrat", sans-serif;
}

.map {
  margin-top: 20px;
  margin-left: 800px;
  margin-bottom: 30px;
  width: 400px;
}
